@import './base.css';

body {
  padding-bottom: 2rem;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.header-main {
  background: var(--color-gray-lighter);
  padding: 1rem 0;
  margin-bottom: 2rem;
}

@media (min-width: 768px) { 
  .wrapper-main {
    display: flex;
    align-items: justify;
  }

  .content-main {
    flex: 1;
  }
}