@import './base.css';

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header-main {
  background: #eee;
  padding: 1rem;
}

.wrapper-main {
  display: flex;
  align-items: justify;
  padding: 2rem 0;
}

.content-main {
  flex: 1;
}